
{% extends '::extranet.html.twig' %}

{% block title %}Blog {% endblock %}
{% block contenido %}
    <div class="nuevo_articulo"><a href="{{ path('crear_articulo') }}">+ Crear nuevo artículo</a></div>
    {% for fila in articulos %}
        {% set articulo = fila['articulo'] %}
        {% set nComentarios = fila['nComentarios'] %}
    <article id="article_{{ articulo.id }}">
        <header>
            <h2><a href="{{ path('vista_articulo_extranet', { 'id': articulo.id }) }}">
                    {{articulo.titulo}}
                </a></h2>
        </header>
        <footer>
            <div class="left n_comentarios">
                <a href="{{ path('vista_articulo_extranet', { 'id': articulo.id }) }}">
                    {{ nComentarios }} comentarios
                </a>
            </div>
            <div class="left fecha">
                    Creado: {{ articulo.fechaCreacion | date('d/m/Y') }}
            </div>
            <div class="left fecha">
                {% if articulo.fechaModificacion %}
                    Modificado: {{ articulo.fechaModificacion | date('d/m/Y') }}
                {% endif%}
            </div>
            <ul class="botonera_articulo right">
                <li><a href="{{ path ('editar_articulo', { 'id': articulo.id}) }}">Editar</a></li>
                <li><a href="{{ path ('eliminar_articulo', { 'id': articulo.id}) }}">Eliminar</a></li>
            </ul>
            <div class="clear"></div>
        </footer>
    </article>
    {% endfor%}
{% endblock %}


