
{% extends '::extranet.html.twig' %}

{% block title %}Nuevo artículo{% endblock %}
{% block contenido %}
    <div class="volver">
        <a href="{{ path('blog_extranet') }}"><< Volver a la lista de artículos</a>
    </div>
    <article id="article_{{ articulo.id }}">
        {{ form_start(form_articulo) }}
            <header>
            <h2>{{form_row(form_articulo.titulo)}}</h2>
        </header>
        <div class="texto">
            {{form_row(form_articulo.contenido)}}
        </div>
        <div>
            {{ form_row(form_articulo.Enviar) }}
        </div>
            {{ form_rest(form_articulo) }}
        {{ form_end(form_articulo) }}
        <footer>
            <div class="clear"></div>
        </footer>
    </article>
    <div class="volver">
        <a href="{{ path('blog_extranet') }}"><< Volver a la lista de artículos</a>
    </div>

{% endblock %}