
{% extends '::extranet.html.twig' %}

{% block title %} {{ articulo.titulo }} {% endblock %}
{% block contenido %}
    <div class="notificacion">
        <p>¿Estás seguro de querer eliminar este artículo?</p>
        <ul class="botonera_articulo">
            <li><a href="{{ path ('remove_articulo', { 'id': articulo.id}) }}">Eliminar</a></li>
            <li><a href="{{ path ('blog_extranet', { 'id': articulo.id}) }}">Cancelar</a></li>
        </ul>

    </div>
    <div class="volver clear">
        <a href="{{ path('blog_extranet') }}"><< Volver al listado de artículos</a>
    </div>
    <article id="article_{{ articulo.id }}">
        <header>
            <h2>{{articulo.titulo}}</h2>           
        </header>
        <div class="texto">
            {{articulo.contenido}}
        </div>
        <footer>
            <div class="left n_comentarios"> {{ comentarios | length }} comentarios</div>
            <div class="left fecha">
                Creado: {{ articulo.fechaCreacion | date('d/m/Y') }}
            </div>
            <div class="left fecha">
                {% if (articulo.fechaModificacion) %}
                    Última modificación: {{ articulo.fechaModificacion | date('d/m/Y') }}
                {% endif%}
            </div>
            <div class="clear"></div>
        </footer>
        
        <section>            
            <header><h3>Comentarios</h3></header>
            {% for comentario in comentarios %}
            <div class="comentarios">
                <div class="autor"><h4>{{ comentario.nombre }}</h4></div>
                <div class="texto">{{ comentario.contenido }}</div>                
                <footer>
                    {% if comentario.modificado %}
                    <div class="left">Modificado por el Administrador</div>
                    {% endif%}
                    <div class="left fecha">Creado: {{ comentario.fechaCreacion | date('d/m/Y')}}</div>
                    <div class="clear"></div>
                </footer>
            </div>            
            {% endfor%}
        </section>
    </article>
    <div class="volver">
        <a href="{{ path('blog_extranet') }}"><< Volver al listado de artículos</a>
    </div>

{% endblock %}