
{% extends '::extranet.html.twig' %}

{% block title %} {{ articulo.titulo }} {% endblock %}
{% block contenido %}

    <div class="volver">
        <a href="{{ path('blog_extranet') }}"><< Volver al listado de artículos</a>
    </div>
    <article id="article_{{ articulo.id }}">
        <header>
            <h2>{{articulo.titulo}}</h2>           
        </header>
        <div class="texto">
            {{articulo.contenido}}
        </div>
        <footer>
            <div class="left n_comentarios"> {{ comentarios | length }} comentarios</div>
            <div class="left fecha">
                Creado: {{ articulo.fechaCreacion | date('d/m/Y') }}
            </div>
            <div class="left fecha">
                {% if (articulo.fechaModificacion) %}
                    Última modificación: {{ articulo.fechaModificacion | date('d/m/Y') }}
                {% endif%}
            </div>
            <ul class="botonera_articulo right">
                <li><a href="{{ path ('editar_articulo', { 'id': articulo.id}) }}">Editar</a></li>
                <li><a href="{{ path ('eliminar_articulo', { 'id': articulo.id}) }}">Eliminar</a></li>
            </ul>
            <div class="clear"></div>
        </footer>
        
        <section>            
            <header><h3>Comentarios</h3></header>
            {% for comentario in comentarios %}
            <div class="comentarios">
                <div class="autor"><h4>{{ comentario.nombre }}</h4></div>
                <div class="texto">{{ comentario.contenido }}</div>                
                <footer>
                    {% if comentario.modificado %}
                    <div class="left">Modificado por el Administrador</div>
                    {% endif%}
                    <div class="left fecha">Creado: {{ comentario.fechaCreacion | date('d/m/Y')}}</div>
                    <ul class="botonera_articulo right">
                        <li><a href="{{ path ('eliminar_articulo', { 'id': articulo.id}) }}">Eliminar</a></li>
                    </ul>
                    <div class="clear"></div>
                </footer>
            </div>            
            {% endfor%}
            <div class="comentarios">
                {{ form_start(form) }}
                  {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </section>
    </article>
    <div class="volver">
        <a href="{{ path('blog_extranet') }}"><< Volver al listado de artículos</a>
    </div>

{% endblock %}