{% extends '::frontend.html.twig' %}

{% block title %}Blog {% endblock %}
{% block contenido %}

    {% if error %}
        <div>{{ error.message }}</div>
    {% endif %}

    <form action="{{ path('login_check') }}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" />

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password" />

        {#
            añade lo siguiente si quieres redirigir al usuario a una
            URL concreta después del login (explicado más adelante)
            <input type="hidden" name="_target_path" value="/account" />
        #}

        <button type="submit">login</button>
    </form>

{% endblock %}