
{% extends '::frontend.html.twig' %}

{% block title %}Blog {% endblock %}
{% block contenido %}
    {% for fila in articulos %}
        {% set articulo = fila['articulo'] %}
        {% set nComentarios = fila['nComentarios'] %}
        <article id="article_{{ articulo.id }}">
            <header>
                <h2><a href="{{ path('vista_articulo', { 'id': articulo.id }) }}">
                        {{articulo.titulo}}
                    </a></h2>
            </header>
            <div class="texto">
                {{articulo.contenido}}
            </div>
            <footer>
                <div class="left n_comentarios">
                    <a href="{{ path('vista_articulo', { 'id': articulo.id }) }}">
                         {{ nComentarios }} comentarios
                    </a>
                </div>
                <div class="right fecha">
                     {% if articulo.fechaCreacion > articulo.fechaModificacion %}
                        {{ articulo.fechaCreacion | date('d/m/Y H:i:s') }}
                    {% else %}
                         {{ articulo.fechaModificacion | date('d/m/Y H:i:s') }}
                    {% endif%}
                </div>
                <div class="clear"></div>
            </footer>
        </article>
    {% endfor %}

{% endblock %}


