
{% extends '::frontend.html.twig' %}

{% block title %} {{ articulo.titulo }} {% endblock %}
{% block contenido %}

    <div class="volver">
        <a href="{{ path('blog') }}"><< Volver al listado de artículos</a>
    </div>
    <article id="article_{{ articulo.id }}">
        <header>
            <h2>{{articulo.titulo}}</h2>           
        </header>
        <div class="texto">
            {{articulo.contenido}}
        </div>
        <footer>
            <div class="left n_comentarios"> {{ comentarios | length }} comentarios</div>
            <div class="right fecha">
                {% if articulo.fechaCreacion > articulo.fechaModificacion %}               
                    {{ articulo.fechaCreacion | date('d/m/Y H:i:s') }}                
                {% else %}                
                     {{ articulo.fechaModificacion | date('d/m/Y H:i:s') }}
                {% endif%}
            </div>
            <div class="clear"></div>
        </footer>
        
        <section>            
            <header><h3>Comentarios</h3></header>
            {% for comentario in comentarios %}
            <div class="comentarios">
                <div class="autor"><h4>{{ comentario.nombre }}</h4></div>
                <div class="texto">{{ comentario.contenido }}</div>                
                <footer>
                    {% if comentario.modificado %}
                    <div class="left">Modificado por el Administrador</div>
                    {% endif%}
                    <div class="right">{{ comentario.fechaCreacion | date('d/m/Y H:i:s') }}</div>
                    <div class="clear"></div>
                </footer>
            </div>            
            {% endfor%}
            <div class="comentarios">
                <form action="{{ path('crear_comentario', { 'id' : articulo.id}) }}" method="post" {{ form_enctype(form) }}>
                    {{ form_widget(form) }}
                </form>
            </div>
        </section>
    </article>
    <div class="volver">
        <a href="{{ path('blog') }}"><< Volver al listado de artículos</a>
    </div>

{% endblock %}