{% extends '::base.html.twig' %}

{% block stylesheets %}
<link href="{{ asset('bundles/miniblog/css/normalizar.css') }}"
rel="stylesheet" type="text/css" />
<link href="{{ asset('bundles/miniblog/css/comun.css') }}"
rel="stylesheet" type="text/css" />
<link href="{{ asset('bundles/miniblog/css/frontend.css') }}"
rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascripts %}{% endblock %}
{% block body %}
<header  class="cabecera">
    <div class="cabecera_cont">
        <h1><a href="{{ path('blog') }}">BLOG</a></h1>
        <nav>
        <ul>
        <li><a href="{{ path('blog') }}">Blog</a></li>
        <li><a href="#">Acceder</a></li>
            <li><a href="#">Ayuda</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="#">Sobre nosotros</a></li>
            <li class="right"><a href="{{ path('blog_extranet') }}">Extranet</a></li>
        </ul>
        </nav>
        <div class="clear"></div>
    </div>
</header>
<div class="contenedor">
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% block contenido %}{% endblock %}
</div>
{% endblock %}
{% block footer %}
<footer class="pie">
    <div class="pie_cont">
        
        <ul id="mapa_web">
            <li><h3>Mapa Web</h3></li>
            <li><a href="{{ path('blog') }}">Blog</a></li>
            <li><a href="#">Acceder</a></li>
            <li><a href="#">Ayuda</a></li>
            <li><a href="#">Contacto</a></li>
            <li><a href="#">Sobre nosotros</a></li>            
        </ul>
        
        <div class="copyright">&copy; 2014 - MiniBlog</div>
        <div class="clear"></div>
    </div>
</footer>
{% endblock %}
