/* 
    Created on : 16-ene-2014, 10:12:17
    Author     : sergio
*/
.left{
    float:left;
}

.right{
    float:right;
}

.clear{
    clear: both;
}

h2, h3, h4{
    color: #000;
}

body{
    margin-top: 0;
}

a{
    color:#fff;
}

header{
}

.cabecera{    
   width: 936px;
   margin:0 auto;
   color:#FFFFFF;
}

.cabecera_cont{
    border-radius: 15px 15px 0 0;    
    background-color: #08C;
}

.cabecera_cont a{
    color: #fff;
    text-decoration:none;
}

header h1{
    text-align: center;
    color: #fff;
    padding:20px 20px 0 20px;
    font-size: 40px;
}

header nav{
}

nav ul{
    padding: 5px 10px;
}

nav ul li{    
    display: inline;
    padding: 0 5px;
    border-left:#fff 2px solid;
}

nav ul li a{
    font-size: 15px;
}

nav ul li a:hover{
    color:#ccc;
}

.contenedor{
   width: 934px;
   margin:0 auto;
   padding:20px 0;
   border-left:#666 1px solid;
   border-right:#666 1px solid;
}

.flash-notice{
    margin:10px;
    padding:10px;
    text-align: center;
    border:#6b9311 1px solid;
    color: #6b9311;
}

article .comentarios form{
    padding: 10px 20px;
}

article .comentarios textarea{
    height: 100px;
    width: 100%;
    background-color: #ffffdd;
    border:#666 1px solid;
}

article .comentarios input{
    width: 30%;
    margin-right:auto;
    margin-bottom: 5px;
    display: block;
    background-color: #ffffdd;
    border:#666 1px solid;
}

button{
    margin: 10px 0 0 10px;
}

.volver{
    margin: 20px;;
}

.volver a{
    color:#06e;
}

footer{
    margin-top:20px;
}

.pie{
    width: 936px;
    margin:0 auto;
}

.pie ul{
    list-style: none;
}

.pie h3{
    margin:5px 0;
    font-size: 14px;
    text-shadow: 1px 1px #333;
}

.pie a:hover{
    color:#87CEEB;
}

.pie_cont{        
    background-color: #666;
    min-height: 40px;
    border-radius: 0 0 15px 15px;
    padding:15px 10px;
}

.pie_cont .copyright{
    float:right;
    margin-top:10px;
}