/* 
    Created on : 16-ene-2014, 10:13:20
    Author     : sergio
*/

h2{
    border-bottom: #666 solid 1px;
    text-shadow: 2px 1px #ccc;
}

article{    
    margin:40px 20px;
    text-align: justify;
}

article a{
    color:#333;
}

article header{
    padding: 0;
}

article header a{  
    color: #000;
    text-decoration: none;
}

article header a:hover{
    color: #666;
}

article .texto{
    padding: 0 5px 0 10px;;
}

article footer{
    font-style: italic;
    font-weight: bold;
    font-size: 12px;
    padding: 10px 15px;
    background-color: #ccc;
}

article footer a{
    color: #08C;
}

article section{
    padding: 10px;
}

article .comentarios{
    margin:10px 10px 20px 40px;
    background-color: #E6E6E6;
}

article .comentarios .autor{
    padding: 2px 5px;
    border-bottom: #ccc 1px dashed;
}

article .comentarios .autor h4{
    margin:5px 0;
}

article .comentarios .texto{
    padding: 10px;
}

article .comentarios footer{
    background-color: skyblue;
}